.place-order-page {
  padding: 60px 20px;
  max-width: 600px;
  margin: auto;
  color: white;
}

.order-container {
  background: #1f2937;
  padding: 40px;
  border-radius: 15px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-form input,
.order-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.payment-options {
  display: flex;
  gap: 20px;
}

.confirm-btn {
  padding: 12px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.confirm-btn:hover {
  transform: translateY(-3px);
}

.order-success {
  text-align: center;
  background: #111827;
  padding: 50px;
  border-radius: 15px;
  animation: pop 0.5s ease;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.error {
  color: #f87171;
  font-size: 13px;
}

.empty-order {
  text-align: center;
}
.checkout-page {
  padding: 60px 20px;
  max-width: 600px;
  margin: auto;
  color: white;
}

.checkout-card {
  background: #1f2937;
  padding: 40px;
  border-radius: 15px;
  animation: fadeIn 0.4s ease;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input,
.checkout-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.checkout-form button {
  padding: 12px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.checkout-form button:hover {
  transform: translateY(-3px);
}

.payment-options {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.success-popup {
  padding: 50px;
  border-radius: 18px;
  text-align: center;
  color: white;

  background: linear-gradient(
    -45deg,
    #78350f,
    #92400e,
    #b45309,
    #78350f
  );

  background-size: 400% 400%;
  animation: successFlow 20s ease infinite, pop 0.5s ease;

  box-shadow: 0 20px 50px rgba(245,158,11,0.4);
}

.empty-order {
  text-align: center;
}